* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  padding: 30px 0 0;
}

body {
  background-color: #eaeded;
  font-size: 12px;
  line-height: 18px;
  color: #696969;
}

.main-container {
  max-width: 1230px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  background: #2fcdcd;
  position: relative;
  z-index: 3;
}

nav {
  margin: 0 auto;
  max-width: 1230px;
  position: relative;
  z-index: 2;
  height: 80px;
  width: 100%;
}

.logo {
  position: absolute;
  padding: 10px 50px;
  height: 40px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active,
li a:hover {
  background: #000000;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .logo {
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f39200;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  li a:hover,
  li a.active {
    background: none;
    color: rgb(0, 0, 0);
  }

  #check:checked~ul {
    left: 0;
  }
}

/* slider */

.banners {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fixed-image {
  width: 300px;
  height: 300px;
}

.fixed-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.slideshow-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}


.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.caption h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.caption p {
  font-size: 16px;
}

/* Slideshow autoplay animation */
.slideshow {
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
}

.slideshow-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 30%;
  /* Aspect ratio of 970x300 */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.caption h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.caption p {
  font-size: 16px;
}

/* Slideshow autoplay animation */
@keyframes slideshow {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  53.33% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.slideshow-container .slide:nth-child(1) {
  animation: slideshow 9s infinite;
}

.slideshow-container .slide:nth-child(2) {
  animation: slideshow 9s infinite;
  animation-delay: 3s;
}

.slideshow-container .slide:nth-child(3) {
  animation: slideshow 9s infinite;
  animation-delay: 6s;
}

/* Mobile styles */
@media (max-width: 480px) {
  .slideshow {
    max-width: 100%;
  }

  .slideshow-container {
    padding-bottom: 80%;
    /* Aspect ratio for mobile devices */
  }
}



/* footer */
footer {
  position: relative;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 22px;
  color: #777;
  display: contents;
}